html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  color: #3b3d46;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// перебивает стили автозаполнения в хроме
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #797c8d;
  box-shadow: 0 0 0px 1000px #ffffff inset;
}

.root {
  margin: 0;
  padding: 0;
}

.app-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .app-container {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}