
:root {
  --main-bg: #ffffff;
  --main-bg-transparent: rgba(255, 255, 255, 0.5);
  --accent-color: #797c8d;
  --accent-color-transparent: rgba(121, 124, 141, 0.1);
  --input-border: #c0c3d4;
  --error: #a34f4f;
  --text-color: #3b3d46;
  --text-color-transparent: rgba(59, 61, 70, 0.6);
  --shade-color: rgba(39, 42, 87, 0.4);
  --table-color: #eeeeee;
}