.app-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .app-container {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
